<div class="user-top">
  <div class="user-top-avatar-frame">
    <%= @user.photo.attached? ? cl_image_tag(@user.photo.key, class: "user-top-avatar") : image_tag("users/blankuser.png", class: "user-top-avatar") %>
  </div>
  <div class="user-top-info">
    <div class="user-names">
      <%= link_to @user.name, user_path(@user), class: "barker-links-name" %><p>@<%= @user.handle %></p>
    </div>
    <p class="info-date">Barks: <%= @user.barks.count %> | Followers: <%= @user.followees.count %> | Following: <%= @user.followers.count %></p>
    <p><%= @user.created_at.strftime("Joined: %m/%d/%Y") %></p>
  </div>
  <% if current_user.id != @user.id %>
    <% if !current_user.following?(@user) %>
      <div class="user-follow-button">
        <%= link_to "Follow", follow_user_path(@user), class:"barker-button" %>
      </div>
    <% else  %>
      <div class="user-follow-button">
        <%= link_to "Following", unfollow_user_path(@user), class:"barker-button" %>
      </div>
    <% end %>
  <% end %>
</div>
