<div class="right-card">
  <p>Follow These Users:</p>
  <% @users.shuffle.cycle.take(5).each do |user| %>
    <div class="follow_card">
      <%= user.photo.attached? ? cl_image_tag(user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
      <div class="follow">
        <div class="follow-info">
          <%= link_to user.name, user_path(user), class: "barker-links" %>
          <p>@<%= user.handle %></p>
        </div>
      </div>
      <% if current_user.id != user.id %>
        <% if !current_user.following?(user) %>
          <div class="follow-button">
            <%= link_to "Follow", follow_user_path(user), class:"barker-button" %>
          </div>
        <% else  %>
          <div class="follow-button">
            <%= link_to unfollow_user_path(user), class:"barker-button" do %>
              <span class="following-normal">Following</span>
              <span class="following-hover">Unfollow</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
