<div>
  <%= link_to image_tag("shared/logofeed.png", class: "feed-logo"), barks_path(current_user) %>
</div>
<div class="user-card">
  <div class="user-avatar-frame">
    <%= link_to current_user.photo.attached? ? cl_image_tag(current_user.photo.key, class: "avatar") : image_tag("users/blankuser.png", class: "avatar"), barks_path(current_user) %>
  </div>
  <div class="user-info">
    <%= link_to current_user.name, barks_path(current_user), class: "barker-links-name" %>
    <p>@<%= current_user.handle %></p>
    <p>Barks: <%= current_user.barks.count() %></p>
    <p>Following: <%= current_user.followees.count() %> | Followers: <%= current_user.followers.count() %></p>
    <p><%= current_user.created_at.strftime("Joined: %m/%d/%Y") %></p>
  </div>
  <div class="log-out-button">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "barker-button" %>
  </div>
</div>
<div class="following-pane">
  <p>You're Following:</p>
  <% @followees.each do |followee| %>
    <div class="follow-card">
      <%= followee.photo.attached? ? cl_image_tag(followee.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
      <div class="follow">
        <div class="follow-info">
          <%= link_to followee.name, user_path(followee), class: "barker-links" %>
          <p>@<%= followee.handle %></p>
        </div>
      </div>
      <% if current_user.id != followee.id %>
        <% if !current_user.following?(followee) %>
          <div class="follow-button">
            <%= link_to "Follow", follow_user_path(followee), class:"barker-button" %>
          </div>
        <% else  %>
          <div class="follow-button">
            <%= link_to unfollow_user_path(followee), class:"barker-button" do %>
              <span class="following-normal">Following</span>
              <span class="following-hover">Unfollow</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="following-pane">
  <p>You're Followed By:</p>
  <% @followers.each do |follower| %>
    <div class="follow-card">
      <%= follower.photo.attached? ? cl_image_tag(follower.photo.key, class: "avatar") : image_tag("users/blankuser.png", class:"avatar") %>
      <div class="follow">
        <div class="follow-info">
          <%= link_to follower.name, user_path(follower), class: "barker-links" %>
          <p>@<%= follower.handle %></p>
        </div>
      </div>
      <% if current_user.id != follower.id %>
        <% if !current_user.following?(follower) %>
          <div class="follow-button">
            <%= link_to "Follow", follow_user_path(follower), class:"barker-button" %>
          </div>
        <% else  %>
          <div class="follow-button">
            <%= link_to unfollow_user_path(follower), class:"barker-button" do %>
              <span class="following-normal">Following</span>
              <span class="following-hover">Unfollow</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
